{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main_section">
    <!-- START Breadcrumb   -->
    <section class="breadcrumb_section">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item text-capitalize"><a href="index.html">Home</a> <i class="flaticon-arrows-4"></i></li>
                    <li class="breadcrumb-item active text-capitalize">Your Cart</li>
                </ol>
            </nav>
            <h1 class="title_h1 font-weight-normal text-capitalize">Your Cart</h1>
        </div>
    </section>
    <!-- END Breadcrumb   -->
    <!-- START Cart Section   -->
    <section class="cart_section login_section padding-top-60 padding-bottom-60 check_out">
        <div class="container">
            {% if not cart_items %}
              <h2 class="text-center">Your shopping Cart is Empty</h2>
              <br>
              <div class="text-center">
                  <a href="{% url 'store' %}" class="text-uppercase border-btn ">Continue shopping</a>
              </div>
            {% else %}
                <!-- START Contact From    -->
                <div class="login_form">
                    <div class="cart_table">
                        <div class="table">
                            <div class="thead">
                                <div class="tr">
                                    <div class="th title_h5 border-bottom border-top">Product</div>
                                    <div class="th title_h5 border-bottom border-top">Price</div>
                                    <div class="th title_h5 border-bottom border-top">Quantity</div>
                                    <div class="th title_h5 border-bottom border-top">Total</div>
                                    <div class="th border-bottom border-top"></div>
                                </div>
                            </div>
                            <div class="tbody">
                                {% for cart_item in cart_items %}
                                <div class="tr" id="cart_{{cart_item.id}}">
                                    <div class="td border-bottom" data-title="Product">
                                        <div class="product_img d-table-cell ">
                                            <img src="{{ cart_item.product.images.url }}" class="vertical_middle img-fluid" alt="Blue Jacket">
                                        </div>
                                        <div class="product_details d-table-cell ">
                                            <div class="product_title">
                                                <a href="{{ cart_item.product.get_url }}"><h5 class="title_h5">{{ cart_item.product.product_name }}</h5></a>
                                            </div>
                                            <div class="product_variant">
                                                {% if cart_item.variations.all %}
                                                    {% for item in cart_item.variations.all %}
                                                        <!-- {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br> -->
                                                        <span>{{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }}</span><br>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="td border-bottom price_{{cart_item.id}}" data-title="Price">${{ cart_item.product.price }}</div>
                                    <div class="td border-bottom" data-title="Quantity">
                                        <div class="form-group quantity_box">
                                            <div class="qty_number">
                                                <input type="text" id="quantity_{{cart_item.id}}" value="{{ cart_item.quantity }}" disabled>
                                                <a href="javascript:void(0);" onclick="add_product_card(this,{{cart_item.product.id}},'{{ csrf_token}}',{{cart_item.id}})" class="inc button" style="z-index: 9;"><span>+</span></a>
                                               <!--  <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}" class="dec button"  style="z-index: 9;"><span>-</span></a> -->
                                               <a href="javascript:void(0);" onclick="remove_cart(this,{{cart_item.product.id}},'{{ csrf_token}}',{{cart_item.id}})" class="dec button"  style="z-index: 9;"><span>-</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="td border-bottom total_{{cart_item.id}} linetotal" data-title="Total">${{ cart_item.sub_total }}</div>
                                    <div class="td remove_cart border-bottom" data-title="Remove">
                                        <!-- <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id%}">
                                            <i class="flaticon-close"></i>
                                        </a> -->
                                        <a href="javascript:void(0);" onclick="remove_cart_item(this,{{cart_item.product.id}},'{{ csrf_token}}',{{cart_item.id}})">
                                            <i class="flaticon-close"></i>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>                                    
                        </div>
                    </div>
                    <div class="cart_subtotal text-right">
                         <div class="subtotal_text">Total price</div>
                         <div class="subtotal_price title_h4 text-right total_price">${{total}}</div>                                        
                    </div>
                    <div class="cart_subtotal text-right">
                         <div class="subtotal_text">Tax</div>
                         <div class="subtotal_price title_h4 text-right tax">${{tax}}</div>                                        
                    </div>
                    <div class="cart_subtotal text-right">
                         <div class="subtotal_text">Total</div>
                         <div class="subtotal_price title_h4 text-right grand_total">${{grand_total}}</div>                                        
                    </div>
                    <div class="cart_btns text-right">
                        <button type="submit" class="border-btn text-uppercase">Update Cart</button>
                        <a href="{% url 'store' %}" class="text-uppercase border-btn ">Continue shopping</a>
                        <a href="checkout.html" class="text-uppercase background-btn">Proceed to checkout</a>
                    </div>                            
                    <div class="form-group cart_notes">
                        <label class="title_h5" for="notes">Add a note for seller</label>
                        <textarea  class="form-control" id="notes" name="Notes"></textarea>
                    </div>
                </div>
                <!-- END Contact From    -->
            {% endif %}
        </div>
    </section>
    <!-- END Cart Section  -->
</div>
{% endblock %}