{% load static %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div id="q_sync1" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="product_img">
                        <img src="{{ product_detail.images.url }}" alt="blue_jacket_img" class="vertical_middle img-fluid" />
                    </div>
                </div>
                <div class="item">
                    <div class="product_img">
                        <img src="{% static './images/blue_jacket_img2.png'%}" alt="blue_jacket_img" class="vertical_middle img-fluid"/>
                    </div>
                </div>
                <div class="item">
                    <div class="product_img">
                        <img src="{% static './images/blue_jacket_img3.png'%}" alt="blue_jacket_img" class="vertical_middle img-fluid"/>
                    </div>
                </div>
                <div class="item">
                    <div class="product_img">
                        <img src="{% static './images/blue_jacket_img4.png'%}" alt="blue_jacket_img" class="vertical_middle img-fluid"/>
                    </div>
                </div>
            </div>
            <div id="q_sync2" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="product_img">
                        <img src="{% static './images/blue_jacket_img.png'%}" alt="blue_jacket_img" class="vertical_middle img-fluid"/>
                    </div>
                </div>
                <div class="item">
                    <div class="product_img">
                        <img src="{% static './images/blue_jacket_img2.png'%}" alt="blue_jacket_img" class="vertical_middle img-fluid"/>
                    </div>
                </div>
                <div class="item">
                    <div class="product_img">
                        <img src="{% static './images/blue_jacket_img3.png'%}" alt="blue_jacket_img" class="vertical_middle img-fluid"/>
                    </div>
                </div>
                <div class="item">
                    <div class="product_img">
                        <img src="{% static './images/blue_jacket_img4.png'%}" alt="blue_jacket_img" class="vertical_middle img-fluid"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="product_content">
                <div class="product_title">
                    <span class="product_price title_h4">$ {{ product_detail.price }}</span>
                    {% if product_detail.stock <= 0 %}
                      <span class="stock text-right">Out Of Stock</span>
                    {% else %}
                      <span class="stock text-right">In Stock</span>
                    {% endif %}
                    <p class="sku_text">SKU: {{ product_detail.slug }}</p>
                    <div class="star"><img src="{% static './images/star.png'%}"  class="img-fluid" alt="star" />(1 Review)</div>
                </div>
                
                <form>
                    <div class="product_variant">
                        <div class="form-group color_box">
                            <label class="title_h5 text-capitalize">Color</label>
                            <div class="radio text-uppercase text-center">
                                <input type="radio" name="color" id="color11" >
                                <label for="color11" class="color1"></label>
                            </div>
                            <div class="radio text-uppercase text-center">
                                <input type="radio" name="color" id="color12" >
                                <label for="color12" class="color2"></label>
                            </div>
                            <div class="radio text-uppercase text-center">
                                <input type="radio" name="color" id="color13" >
                                <label for="color13" class="color3"></label>
                            </div>
                            <div class="radio text-uppercase text-center">
                                <input type="radio" name="color" id="color14" >
                                <label for="color14" class="color4"></label>
                            </div>
                        </div>
                        <div class="form-group size_box">
                            <label class="title_h5 text-capitalize">Size</label>
                            <select class="form-control"><option>XS</option><option>S</option><option>M</option><option>L</option><option>XL</option></select>
                        </div>
                        <div class="form-group quantity_box">
                            <label class="title_h5 text-capitalize">Quantity</label>
                            <div class="qty_number" onkeypress="return event.charCode >= 48 && event.charCode <= 57"><input type="text" value="1" ></div>
                        </div>
                    </div>
                    <div class="product_btns">
                        <a href="wishlist.html" class="wishlist_btn border-btn text-uppercase">add to wishlist </a>
                        {% if product_detail.stock <= 0 %}
                          <span class="background text-uppercase">Out Of Stock</span>
		                    {% else %}
                        	<a href="cart.html" class="background-btn text-uppercase cart_btn">Add To Bag</a>
		                    {% endif %}
                        <!-- <button type="submit" class="background-btn text-uppercase cart_btn">add to bag</button> -->
                        <div class="product_share">
                            <p>Share the love</p>
                            <ul class="social_icons">
                                <li class="text-center"><a href="javascript:void(0);"><i class="flaticon-facebook vertical_middle"></i></a></li>
                                <li class="text-center"><a href="javascript:void(0);"><i class="flaticon-pinterest vertical_middle"></i></a></li>
                                <li class="text-center"><a href="javascript:void(0);"><i class="flaticon-instagram-logo vertical_middle"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="info_text">
                        <a href="{{ product_detail.get_url }}">View full info</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>