{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main_section">
  <!-- START Breadcrumb   -->
  <section class="breadcrumb_section">
      <div class="container">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item text-capitalize"><a href="index.html">Home</a> <i class="flaticon-arrows-4"></i></li>
                  <li class="breadcrumb-item active text-capitalize">shop</li>
              </ol>
          </nav>
          <h1 class="title_h1 font-weight-normal text-capitalize">shop</h1>
      </div>
  </section>
  <!-- END Breadcrumb   -->
  <!-- START Products List Section -->
  <section class="padding-top-text-60 padding-bottom-60 featured_section product_list_section product_list_filter_section ">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <!-- START Collection Sidebar-->
          <div class="collection_sidebar">
            <div class="sidebar_title padding-bottom-60 hidden-lg">
              <h3 class="title_h3">Filter</h3>
              <a class="filter_colse" href="javascript:void(0);"><i class="flaticon-close"></i></a>
            </div>
            <div class="filter_content mCustomScrollbar">
              <!-- START Shopping by -->
              <div class="category_list">
                  <div class="category_list_title">
                    <h5 class="title_h5">Shopping by</h5>
                    <span class="category_close_icon flaticon-down-arrow float-right"></span>
                  </div>
                  <div class="layer-filter shopping_by_select">
                    <div class="select_category">
                      <div class="fill_type">
                        <p class="fill_name">Women</p>
                        <a href="javascript:void(0);" class="clear text-right text-capitalize" >Clear</a>
                      </div>
                      <div class="fill_value">
                        <p>Tops <i class="flaticon-close"></i></p>
                        <p>Outerwear <i class="flaticon-close"></i></p>
                        <p>Bottoms <i class="flaticon-close"></i></p>
                        <p>Activewear <i class="flaticon-close"></i></p>
                        <a href="javascript:void(0);"  class="flaticon-close"></a>
                      </div>
                    </div>
                    <div class="select_category">
                      <div class="fill_type">
                        <p class="fill_name">Price</p>
                        <a href="javascript:void(0);" class="clear text-right text-capitalize" >Clear</a>
                      </div>
                      <div class="fill_value">
                        <p>$0 - $100</p>
                        <a href="javascript:void(0);"  class="flaticon-close"></a>
                      </div>
                    </div>
                    <div class="select_category">
                      <div class="fill_type">
                        <p class="fill_name">Size</p>
                        <a href="javascript:void(0);" class="clear text-right text-capitalize" >Clear</a>
                      </div>
                      <div class="fill_value">
                        <p class="text-uppercase">xs <i class="flaticon-close"></i></p>
                        <p class="text-uppercase">s <i class="flaticon-close"></i></p>
                        <p class="text-uppercase">m <i class="flaticon-close"></i></p>
                        <p class="text-uppercase">l <i class="flaticon-close"></i></p>
                        <p class="text-uppercase">xl <i class="flaticon-close"></i></p>
                        <a href="javascript:void(0);"  class="flaticon-close"></a>
                      </div>
                        
                    </div>
                    <div class="select_category">
                      <div class="fill_type">
                        <p class="fill_name">Color</p>
                        <a href="javascript:void(0);" class="clear text-right text-capitalize" >Clear</a>
                      </div>
                      <div class="fill_value">
                        <p><span class="color1"></span> <i class="flaticon-close"></i></p>
                        <p><span class="color2"></span> <i class="flaticon-close"></i></p>
                        <p><span class="color3"></span> <i class="flaticon-close"></i></p>
                        <a href="javascript:void(0);"  class="flaticon-close"></a>
                      </div>
                      <a href="javascript:void(0);" class="claerall text-uppercase" >Clear All</a>
                    </div>
                  </div>
              </div>
              <!-- START Availability -->
              <div class="category_list">
                <div class="category_list_title">
                  <h5 class="title_h5">Availability</h5>
                  <span class="category_close_icon flaticon-down-arrow float-right"></span>
                </div>
                <div class="layer-filter">
                  <ul>
                    <li><a href="javascript:void(0);"> On Sale</a></li>
                    <li><a href="javascript:void(0);">In Stock</a></li>
                  </ul>
                </div>
              </div>
              <!-- START Women -->
              <div class="category_list">
                <div class="category_list_title">
                  <h5 class="title_h5">Women</h5>
                  <span class="category_close_icon flaticon-down-arrow float-right"></span>
                </div>
                <div class="layer-filter">
                  <div class="search_tag">
                    <input type="text" placeholder="search" class="text-capitalize">
                    <button type="submit" class="flaticon-magnifying-glass"></button>
                  </div>
                  <ul class="women">
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" name="box1" id="box1" checked="">
                        <label for="box1">Tops</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" name="box2" id="box2" checked="">
                        <label for="box2">Outerwear</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" name="box3" id="box3" checked="">
                        <label for="box3">Bottoms</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" name="box4" id="box4" checked="">
                        <label for="box4">Activewear</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" name="box5" id="box5">
                        <label for="box5">Sleepwear</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" name="box6" id="box6">
                        <label for="box6">Swimwear</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" name="box7" id="box7">
                        <label for="box7">Shoes & Accessories</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" name="box8" id="box8">
                        <label for="box8">Sale</label>
                      </div>
                    </li>
                  </ul>
                  <div class="loadMore text-uppercase">4 more</div>
                </div>
              </div>
              <!-- START Men -->
              <div class="category_list">
                <div class="category_list_title">
                  <h5 class="title_h5">Men</h5>
                  <span class="category_close_icon flaticon-down-arrow float-right"></span>
                </div>
                <div class="layer-filter">
                  <div class="search_tag">
                    <input type="text" placeholder="search" class="text-capitalize">
                    <button type="submit" class="flaticon-magnifying-glass"></button>
                  </div>
                  <ul class="men">
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" name="box9" id="box9" checked="">
                        <label for="box9">T-Shirts</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" name="box10" id="box10" checked="">
                        <label for="box10">Outerwear</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" name="box11" id="box11" checked="">
                        <label for="box11">Basics</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" name="box12" id="box12" checked="">
                        <label for="box12">Activewear</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" name="box13" id="box13">
                        <label for="box13">Sleepwear</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" name="box14" id="box14">
                        <label for="box14">Swimwear</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" name="box15" id="box15">
                        <label for="box15">Shoes & Accessories</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox">
                        <input type="checkbox" name="box16" id="box16">
                        <label for="box16">Sale</label>
                      </div>
                    </li>
                  </ul>
                  <div class="loadMore text-uppercase">4 more</div>
                </div>
              </div>
              <!-- START Accessories -->
              <div class="category_list">
                <div class="category_list_title">
                  <h5 class="title_h5">Accessories</h5>
                  <span class="category_close_icon flaticon-down-arrow float-right"></span>
                </div>
                <div class="layer-filter">
                    <ul>
                      <li>
                        <div class="checkbox">
                          <input type="checkbox" name="box17" id="box17">
                          <label for="box17">Glasses</label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                          <input type="checkbox" name="box18" id="box18">
                          <label for="box18">Handbags</label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                          <input type="checkbox" name="box19" id="box19" >
                          <label for="box19">Apparel</label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                          <input type="checkbox" name="box20" id="box20" >
                          <label for="box20">Shoes</label>
                        </div>
                      </li>
                    </ul>
                </div>
              </div>
              <!-- START Our Shops -->
              <div class="category_list">
                <div class="category_list_title">
                  <h5 class="title_h5">Our Shops</h5>
                  <span class="category_close_icon flaticon-down-arrow float-right"></span>
                </div>
                <div class="layer-filter">
                  <ul>
                    <li><a href="javascript:void(0);">New Arrivals</a></li>
                    <li><a href="javascript:void(0);">Cozy Shop</a></li>
                    <li><a href="javascript:void(0);">All That Sparkles</a></li>
                    <li><a href="javascript:void(0);">Online Exclusives </a></li>
                    <li><a href="javascript:void(0);">Outfit Shop</a></li>
                  </ul>
                </div>
              </div>
              <!-- START Collections -->
              <div class="category_list">
                <div class="category_list_title">
                  <h5 class="title_h5">Category</h5>
                  <span class="category_close_icon flaticon-down-arrow float-right"></span>
                </div>
                <div class="layer-filter">
                  <ul>
                    <li><a href="{% url 'store' %}">All Product</a></li>
                    {% for category in links %}
                      <li><a href="{{ category.get_url }}">{{category.category_name}}</a></li>
                    {% endfor %}
                    
                  </ul>
                </div>
              </div>
              <!-- START Price -->
              <div class="category_list">
                <div class="category_list_title">
                  <h5 class="title_h5">Price</h5>
                  <span class="category_close_icon flaticon-down-arrow float-right"></span>
                </div>
                <div class="layer-filter">
                  <div class="range_slider">
                    <div id="slider"></div>
                  </div>
                </div>
              </div>
              <!-- START Size -->
              <div class="category_list">
                  <div class="category_list_title">
                      <h5 class="title_h5">Size</h5>
                      <span class="category_close_icon flaticon-down-arrow float-right"></span>
                  </div>
                  <div class="layer-filter">
                      <div class="search_tag">
                          <input type="text" placeholder="search" class="text-capitalize">
                          <button type="submit" class="flaticon-magnifying-glass"></button>
                      </div>
                      <ul class="size">
                          <li>
                              <div class="checkbox text-uppercase">
                                  <input type="checkbox" name="box21" id="box21" checked="">
                                  <label for="box21">xl</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox text-uppercase">
                                  <input type="checkbox" name="box22" id="box22" checked="">
                                  <label for="box22">s</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox text-uppercase">
                                  <input type="checkbox" name="box23" id="box23" checked="">
                                  <label for="box23">m</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox text-uppercase">
                                  <input type="checkbox" name="box24" id="box24" checked="">
                                  <label for="box24">l</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox text-uppercase">
                                  <input type="checkbox" name="box25" id="box25">
                                  <label for="box25">xl</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox text-uppercase">
                                  <input type="checkbox" name="box26" id="box26">
                                  <label for="box26">xxl</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox text-uppercase">
                                  <input type="checkbox" name="box27" id="box27">
                                  <label for="box27">xxxl</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox text-uppercase">
                                  <input type="checkbox" name="box28" id="box28">
                                  <label for="box28">uk 6</label>
                              </div>
                          </li>
                      </ul>
                      <div class="loadMore text-uppercase">4 more</div>
                  </div>
              </div>
              <!-- START Color -->
              <div class="category_list color_box">
                  <div class="category_list_title">
                      <h5 class="title_h5">Color</h5>
                      <span class="category_close_icon flaticon-down-arrow float-right"></span>
                  </div>
                  <div class="layer-filter">
                      <div class="search_tag">
                          <input type="text" placeholder="search" class="text-capitalize">
                          <button type="submit" class="flaticon-magnifying-glass"></button>
                      </div>
                      <ul class="color">
                          <li>
                              <div class="checkbox text-uppercase text-center">
                                  <input type="checkbox" name="box29" id="box29" checked="">
                                  <label for="box29" class="color1"></label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox text-uppercase text-center">
                                  <input type="checkbox" name="box30" id="box30" checked="">
                                  <label for="box30" class="color2"></label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox text-uppercase text-center">
                                  <input type="checkbox" name="box31" id="box31" checked="">
                                  <label for="box31" class="color3"></label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox text-uppercase text-center">
                                  <input type="checkbox" name="box32" id="box32">
                                  <label for="box32" class="color4"></label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox text-uppercase text-center">
                                  <input type="checkbox" name="box33" id="box33">
                                  <label for="box33" class="color5"></label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox text-uppercase text-center">
                                  <input type="checkbox" name="box34" id="box34">
                                  <label for="box34" class="color6"></label>
                              </div>
                          </li>
                      </ul>
                      <div class="loadMore text-uppercase">2 more</div>
                  </div>
              </div>
            </div>
          </div>
          <!-- START Collection Sidebar-->
        </div>
        <div class="col-lg-9">
            <!-- START Collection Sorting-->
            <div class="collection-sorting-row">
                <div class="filter_menu hidden-lg ">
                    <a class="title_h5 text-capitalize">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" viewBox="0 0 21 16">
                            <path id="Filter_Icon" data-name="Filter Icon" fill="#f74f2e" class="cls-1" d="M0,13H5v2H0V13Zm5-1h6v4H5V12Zm6,1H21v2H11V13Zm7-6h3V9H18V7ZM12,6h6v4H12V6ZM0,7H12V9H0V7ZM0,1H3V3H0V1ZM3,0H9V4H3V0ZM9,1H21V3H9V1Z"/>
                        </svg>                          filter
                    </a>
                </div>
                <div class="short_by">
                    <form>
                        <div class="form-group">
                            <label for="short_by" class="title_h5">Sort By :</label>
                            <select class="form-control" id="short_by" name="short_by"><option>Featured Proucts</option></select>
                        </div>
                    </form>
                </div>
                <div class="product_grid visible-lg d-none">
                    <ul>
                        <li class="grid_2 grid-list" data-column="column2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" viewBox="0 0 20 30">                                               
                                <path id="Rectangle_21_copy_20" data-name="Rectangle 21 copy 20" fill="#aaa" class="cls-1" d="M12.008,11.006h7.986v8H12.008v-8Zm-12,0H7.994v8H0.008v-8Zm0,11H7.994v8H0.008v-8Zm12,0h7.986v8H12.008v-8Zm-12-22H8v8H0.009v-8ZM12,0.006h7.991v8H12v-8Z"/>
                            </svg>
                        </li>
                        <li class="grid_3 active grid-list" data-column="column3 product">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="30" viewBox="0 0 32 30">                                                
                                <path id="Rectangle_21_copy_22" data-name="Rectangle 21 copy 22" fill="#aaa" class="cls-1" d="M12.008,11.006h7.986v8H12.008v-8Zm-12,0H7.994v8H0.008v-8Zm0,11H7.994v8H0.008v-8Zm12,0h7.986v8H12.008v-8Zm-12-22H8v8H0.009v-8ZM12,0.006h7.991v8H12v-8Zm12,11h7.986v8H24.008v-8Zm0,11h7.986v8H24.008v-8Zm0-22h7.991v8H24v-8Z"/>
                            </svg>
                        </li>
                        <li class="grid_4 grid-list" data-column="column4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="41" height="30" viewBox="0 0 41 30">
                                <path id="Rectangle_21_copy_29" data-name="Rectangle 21 copy 29" fill="#aaa" class="cls-1" d="M11.008,11.006h7.986v8H11.008v-8Zm-11,0H7.994v8H0.008v-8Zm0,11H7.994v8H0.008v-8Zm11,0h7.986v8H11.008v-8Zm-11-22H8v8H0.008v-8ZM11,0.006h7.991v8H11v-8Zm11,11h7.986v8H22.008v-8Zm0,11h7.986v8H22.008v-8Zm0-22h7.991v8H22v-8Zm11,11h7.986v8H33.008v-8Zm0,11h7.986v8H33.008v-8Zm0-22h7.991v8H33v-8Z"/>
                            </svg>
                        </li>
                    </ul>
                </div>
                <div class="short_by show_product text-right">
                    <form>
                        <div class="form-group">
                            <label for="show"  class="title_h5">show :</label>
                            <select class="form-control" id="show" name="show"><option>24</option></select>
                        </div>
                    </form>
                </div>
            </div>
            <!-- START Collection Sorting-->
            <!-- START Products -->
            <ul class=" category-products  wow fadeIn row">
              {% for product in products %}
	              <li class="col-lg-3 col-md-4 col-6 column3 product  wow fadeInLeft animated" data-wow-duration="1300ms">
	                  <div class="featured_content">
	                      <div class="featured_img_content">
	                          <img src="{{ product.images.url }}" alt="f_product" class="img-fluid"/>
	                          <ul class="product-date">
	                              <li class="day background-btn">
	                                  <span class="no">12</span>
	                                  <span class="text text-capitalize">days</span>
	                              </li>
	                              <li class="hours background-btn">
	                                  <span class="no">07</span>
	                                  <span class="text text-capitalize">Hrs</span>
	                              </li>
	                              <li class="min background-btn">
	                                  <span class="no">30</span>
	                                  <span class="text text-capitalize">Mins</span>
	                              </li>
	                              <li class="second background-btn">
	                                  <span class="no">15</span>
	                                  <span class="text text-capitalize">Secs</span>
	                              </li>
	                          </ul>
	                          <div class="featured_btn vertical_middle">
	                              <a href="{% url 'add_cart' product.id %}" class="text-uppercase background-btn add_to_bag_btn">Add To Bag</a>
	                              <a href="javascript:void(0);" onclick="get_product_detail(this,{{product.id}})" class="text-uppercase border-btn popup_btn">Quick View</a>
	                          </div>
	                          <div class="product-label  text-uppercase sale-label ">sale<span class="diamond_shape"></span></div>
	                          <a href="javascript:void(0);" class="heart  rounded-circle text-center "><i class="flaticon-heart vertical_middle"></i></a>
	                          
	                      </div>
	                      <div class="featured_detail_content">
	                          <a href="{{ product.get_url }}"><p class="featured_title  text-capitalize  text-center">{{ product }}</p></a>
	                          <p class="featured_price title_h5  text-center"><span class="compare_price">$59.95</span><span>${{ product.price }}</span></p>
	                          <div class="featured_variyant  text-center">
	                              <div class="radio text-uppercase  text-center">
	                                  <input type="radio" name="size" id="radio14"/>
	                                  <label for="radio14">M</label>
	                              </div>
	                          </div>
	                      </div>
	                  </div>
	              </li>
              {% endfor %}
           </ul>
            <!-- END Products -->
            <!-- START Products Pagination -->
            <div class="align-self-center">
              {% if products.has_other_pages %}
                <ul class="pagination text-center justify-content-center">
                    {% if products.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}"><i class="flaticon-arrows-1"></i></a></li>
                    {% else %}
                      <li class="page-item disabled"><a class="page-link" href="#"><i class="flaticon-arrows-1"></i></a></li>
                    {% endif %}
                    {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                          <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                        {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}"><i class="flaticon-arrows"></i></a></li>
                    {% else %}
                      <li class="page-item disabled"><a class="page-link" href="javascript:void(0);"><i class="flaticon-arrows"></i></a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
            <!-- END Products Pagination -->
        </div>
      </div>
    </div>
  </section>
  <!-- END Products List Section -->
</div>
<div class="filter-overlay"></div>
<!-- START Quick View Popup Section  -->
<div id="modalone" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <a href="javascript:void(0);" class="close_popup"><span>&times;</span></a>
        <div id="product_detail_modal" class="product_detail_section"></div>
    </div>
</div>
<!-- END Quick View Popup Section  -->
{% endblock %}