{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- START Breadcrumb   -->
<section class="breadcrumb_section">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-capitalize"><a href="index.html">Home</a> <i class="flaticon-arrows-4"></i></li>
                <li class="breadcrumb-item active text-capitalize">Reset Your Password</li>
            </ol>
        </nav>
        <h1 class="title_h1 font-weight-normal text-capitalize">Reset Your Password</h1>
    </div>
</section>
<!-- END Breadcrumb   -->
<!-- START Reset Your Password Section   -->
<div class="login_section reset_password_section padding-top-60 padding-bottom-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_form">
                    {% include 'includes/alerts.html' %}
                    <form action="{% url 'forgotPassword' %}" method="POST">
                        {% csrf_token %}
                        <p>We will send you an email to reset your password.</p>
                        <div class="form-group">
                            <label for="email" class="title_h5">Email*</label>
                            <input type="email" class="form-control" placeholder="Email Address" name="email" required="">
                        </div>
                        <div class="login_links ">
                            <button type="submit" class="btn background-btn text-uppercase">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Reset Your Password Section  -->
{% endblock %}