{% extends 'base.html' %}
{% load static %}
 {% block content %}
        
<div class="main_section">
  <!-- START Banner Section -->
  <div class="banner_slider_section">
    <div class="rev_slider_wrapper fullwidthbanner-container">
      <!-- the ID here will be used in the JavaScript below to initialize the slider -->
      <div id="rev_slider_1" class="rev_slider fullwidthabanner" data-version="5.4.5" style="display:none;">
        <!-- BEGIN MAIN SLIDE LIST -->
        <ul>
          <!-- MINIMUM SLIDE STRUCTURE -->
          <li data-transition="fade">
            <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
            <img src="{% static 'images/banner_img.jpg' %}" alt="Sky" class="rev-slidebg">
            <!-- LAYER NR. 1 -->
            <div class="tp-caption Restaurant-Display   tp-resizeme"
                 id="slide-3010-layer-1"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['-62','0','0','0']"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','left','left','left']"
                 data-paddingtop="[0,0,0,0]"
                 data-paddingright="[0,0,0,0]"
                 data-paddingbottom="[0,0,0,0]"
                 data-paddingleft="[0,0,0,0]"
                 style="z-index: 5;font-size:48px;line-height: 48px;color:#333;text-transform: capitalize;font-weight: 600;font-family: 'Work Sans';">Hot Collection </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption Restaurant-Cursive   tp-resizeme"
                 id="slide-3010-layer-2"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['-18','0','0','0']"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','left','left','left']"
                 data-paddingtop="[0,0,0,0]"
                 data-paddingright="[0,0,0,0]"
                 data-paddingbottom="[0,0,0,0]"
                 data-paddingleft="[0,0,0,0]"
                 style="z-index: 6;font-size:24px;line-height: 24px;color:#333;letter-spacing: 0;font-weight: normal;font-family: 'Work Sans';">Step inside and choose your favorite </div>
            <!-- LAYER NR. 3 -->
            <div class="tp-caption  "
                 id="slide-3010-layer-3"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['55','0','0','0']"
                 data-type="button"
                 data-basealign="slide"
                 data-responsive_offset="off"
                 data-responsive="on"
                 data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','left','left','left']"
                 data-paddingtop="[0,0,0,0]"
                 data-paddingright="[0,0,0,0]"
                 data-paddingbottom="[0,0,0,0]"
                 data-paddingleft="[0,0,0,0]"
                 style="z-index: 7; font-size: 18px;line-height: 18px;">
                <a href="{% url 'store' %}" class="border-btn text-uppercase">shop now <i class="flaticon-arrows vertical_middle"></i>  </a>
            </div>
          </li>
          <!-- MINIMUM SLIDE STRUCTURE -->
          <li data-transition="fade">
            <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
            <img src="{% static 'images/Banner-2.jpg' %}" alt="Sky" class="rev-slidebg">
            <!-- LAYER NR. 1 -->
            <div class="tp-caption Restaurant-Display   tp-resizeme"
                 id="slide-3010-layer-4"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['-62','0','0','0']"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','left','left','left']"
                 data-paddingtop="[0,0,0,0]"
                 data-paddingright="[0,0,0,0]"
                 data-paddingbottom="[0,0,0,0]"
                 data-paddingleft="[0,0,0,0]"
                 style="z-index: 5;font-size:48px;line-height: 48px;color:#333;text-transform: capitalize;font-weight: 600;font-family: 'Work Sans';">Hot Collection </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption Restaurant-Cursive   tp-resizeme"
                 id="slide-3010-layer-5"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['-18','0','0','0']"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','left','left','left']"
                 data-paddingtop="[0,0,0,0]"
                 data-paddingright="[0,0,0,0]"
                 data-paddingbottom="[0,0,0,0]"
                 data-paddingleft="[0,0,0,0]"
                 style="z-index: 6;font-size:24px;line-height: 24px;color:#333;letter-spacing: 0;font-weight: normal;font-family: 'Work Sans';">Step inside and choose your favorite </div>
            <!-- LAYER NR. 3 -->
            <div class="tp-caption  "
                 id="slide-3010-layer-6"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['55','0','0','0']"
                 data-type="button"
                 data-basealign="slide"
                 data-responsive_offset="off"
                 data-responsive="on"
                 data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','left','left','left']"
                 data-paddingtop="[0,0,0,0]"
                 data-paddingright="[0,0,0,0]"
                 data-paddingbottom="[0,0,0,0]"
                 data-paddingleft="[0,0,0,0]"
                 style="z-index: 7;font-size: 18px;line-height: 18px;">
                <a href="{% url 'store' %}" class="border-btn text-uppercase">shop now <i class="flaticon-arrows vertical_middle"></i>  </a>
            </div>
          </li> <!-- MINIMUM SLIDE STRUCTURE -->
          <li data-transition="fade">
            <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
            <img src="{% static 'images/Banner-3.jpg' %}" alt="Sky" class="rev-slidebg">
            <!-- LAYER NR. 1 -->
            <div class="tp-caption Restaurant-Display   tp-resizeme"
                 id="slide-3010-layer-7"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['-62','0','0','0']"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','left','left','left']"
                 data-paddingtop="[0,0,0,0]"
                 data-paddingright="[0,0,0,0]"
                 data-paddingbottom="[0,0,0,0]"
                 data-paddingleft="[0,0,0,0]"
                 style="z-index: 5;font-size:48px;line-height: 48px;color:#333;text-transform: capitalize;font-weight: 600;font-family: 'Work Sans';">Hot Collection </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption Restaurant-Cursive   tp-resizeme"
                 id="slide-3010-layer-8"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['-18','0','0','0']"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','left','left','left']"
                 data-paddingtop="[0,0,0,0]"
                 data-paddingright="[0,0,0,0]"
                 data-paddingbottom="[0,0,0,0]"
                 data-paddingleft="[0,0,0,0]"
                 style="z-index: 6;font-size:24px;line-height: 24px;color:#333;letter-spacing: 0;font-weight: normal;font-family: 'Work Sans';">Step inside and choose your favorite </div>
            <!-- LAYER NR. 3 -->
            <div class="tp-caption  "
                 id="slide-3010-layer-9"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['55','0','0','0']"
                 data-type="button"
                 data-basealign="slide"
                 data-responsive_offset="off"
                 data-responsive="on"
                 data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','left','left','left']"
                 data-paddingtop="[0,0,0,0]"
                 data-paddingright="[0,0,0,0]"
                 data-paddingbottom="[0,0,0,0]"
                 data-paddingleft="[0,0,0,0]"
                 style="z-index: 7;font-size: 18px;line-height: 18px;">
                <a href="{% url 'store' %}" class="border-btn text-uppercase">shop now <i class="flaticon-arrows vertical_middle"></i>  </a>
            </div>
          </li>
        </ul>
        <!-- END MAIN SLIDE LIST -->
      </div>
    </div>
  </div>
  <!-- END Banner Section -->
  <!-- START Collection Section -->
  <div class="home_collection_section padding-top-60 wow fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-4 wow fadeInLeft animated">
          <div class="home_collection_content text-center">
            <img src="{% static 'images/women.png' %}" alt="women" class="img-fluid"/>
            <a href="javascript:void(0);" class="vertical_middle text-capitalize">women
              <i class="flaticon-arrows"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4 wow fadeInDown animated">
          <div class="home_collection_content text-center">
            <img src="{% static 'images/men.png' %}" alt="men" class="img-fluid"/>
            <a href="javascript:void(0);" class="vertical_middle text-capitalize">men
              <i class="flaticon-arrows"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4 wow fadeInRight animated ">
          <div class="home_collection_content text-center">
            <img src="{% static 'images/products.png' %}" alt="products``" class="img-fluid"/>
            <a href="javascript:void(0);" class="vertical_middle text-capitalize">product
              <i class="flaticon-arrows"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Collection Section -->
  <!-- START Summer Collection Section -->
  <section class="padding-top-60 wow fadeIn">
    <div class="container">
      <div class="summer_collection_section text-center wow fadeInUp" >
        <h2 class="title_h2 text-capitalize">Summer Sale</h2>
        <a href="{% url 'store' %}" class="background-btn text-uppercase">SHOP NOW
          <i class="flaticon-arrows"></i>
        </a>
      </div>
    </div>
  </section>
  <!-- END Summer Collection Section -->
  <!-- START Featured Products -->
  <section class="padding-top-text-60 featured_section wow fadeIn">
    <div class="container">
      <h3 class="title_h3  text-capitalize home_title_h3 text-center">Featured Products</h3>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-6 wow fadeInLeft animated" data-wow-duration="1300ms">
          <div class="featured_content">
            <div class="featured_img_content">
              <img src="{% static 'images/f_product1.png' %}" alt="f_product" class="img-fluid"/>
              <div class="featured_btn vertical_middle">
                <a href="cart.html" class="text-uppercase background-btn add_to_bag_btn">Add To Bag</a>
                <a href="javascript:void(0);" class="text-uppercase border-btn popup_btn" data-modal="#modalone">Quick View</a>
              </div>
              <a href="javascript:void(0);" class="heart  rounded-circle text-center "><i class="flaticon-heart vertical_middle"></i></a>
            </div>
            <div class="featured_detail_content">
              <a href="product_list_detail.html"><p class="featured_title  text-capitalize  text-center">Silk Dress</p></a>
              <p class="featured_price title_h5  text-center"><span>$59.95</span></p>
              <div class="featured_variyant  text-center">
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio1" name="size"/>
                  <label for="radio1">xs</label>
                </div>
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio2" name="size"/>
                  <label for="radio2">s</label>
                </div>
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio3" name="size"/>
                  <label for="radio3">m</label>
                </div>
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio4" name="size"/>
                  <label for="radio4">l</label>
                </div>
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio5" name="size"/>
                  <label for="radio5">xl</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 wow fadeInLeft animated" data-wow-duration="1300ms" data-wow-delay="0.2s">
          <div class="featured_content">
            <div class="featured_img_content">
              <img src="{% static 'images/f_product2.png' %}" alt="f_product" class="img-fluid"/>
              <div class="featured_btn vertical_middle">
                <a href="cart.html" class="text-uppercase background-btn add_to_bag_btn">Add To Bag</a>
                <a href="javascript:void(0);" class="text-uppercase border-btn popup_btn" data-modal="#modalone">Quick View</a>
              </div>
              <a href="javascript:void(0);" class="heart  rounded-circle text-center "><i class="flaticon-heart vertical_middle"></i></a>
            </div>
            <div class="featured_detail_content">
              <a href="product_list_detail.html"><p class="featured_title  text-capitalize  text-center">Premium Party Suit</p></a>
              <p class="featured_price title_h5  text-center"><span>$79.95</span></p>
              <div class="featured_variyant  text-center">
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio6"  name="size"/>
                  <label for="radio6">s</label>
                </div>
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio7"  name="size"/>
                  <label for="radio7">m</label>
                </div>
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio8"  name="size"/>
                  <label for="radio8">l</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 wow fadeInLeft animated" data-wow-duration="1300ms" data-wow-delay="0.4s">
          <div class="featured_content">
            <div class="featured_img_content">
              <img src="{% static 'images/f_product3.png' %}" alt="f_product" class="img-fluid"/>
              <div class="featured_btn vertical_middle">
                <a href="cart.html" class="text-uppercase background-btn add_to_bag_btn">Add To Bag</a>
                <a href="javascript:void(0);" class="text-uppercase border-btn popup_btn" data-modal="#modalone">Quick View</a>
              </div>
              <div class="product-label  text-uppercase  new-label ">new<span class="diamond_shape"></span></div>
              <a href="javascript:void(0);" class="heart  rounded-circle text-center "><i class="flaticon-heart vertical_middle"></i></a>
            </div>
            <div class="featured_detail_content">
              <a href="product_list_detail.html"><p class="featured_title  text-capitalize  text-center">Silk Party Dress</p></a>
              <p class="featured_price title_h5  text-center"><span>$99.95</span></p>
              <div class="featured_variyant  text-center">
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio9"  name="size"/>
                  <label for="radio9">l</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 wow fadeInLeft animated" data-wow-duration="1300ms" data-wow-delay="0.6s">
          <div class="featured_content">
            <div class="featured_img_content">
              <img src="{% static 'images/f_product4.png' %}" alt="f_product" class="img-fluid"/>
              <div class="featured_btn vertical_middle">
                <a href="cart.html" class="text-uppercase background-btn add_to_bag_btn">Add To Bag</a>
                <a href="javascript:void(0);" class="text-uppercase border-btn popup_btn" data-modal="#modalone">Quick View</a>
              </div>
              <div class="product-label  text-uppercase sale-label ">sale<span class="diamond_shape"></span></div>
              <a href="javascript:void(0);" class="heart  rounded-circle text-center "><i class="flaticon-heart vertical_middle"></i></a>
            </div>
            <div class="featured_detail_content">
              <a href="product_list_detail.html"><p class="featured_title  text-capitalize  text-center">Jeans Pant</p></a>
              <p class="featured_price title_h5  text-center"><span>$39.95</span></p>
              <div class="featured_variyant  text-center">
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio10"  name="size"/>
                  <label for="radio10">M</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 wow fadeInRight animated" data-wow-duration="1300ms" >
          <div class="featured_content">
            <div class="featured_img_content">
              <img src="{% static 'images/f_product5.png' %}" alt="f_product" class="img-fluid"/>
              <div class="featured_btn vertical_middle">
                <a href="cart.html" class="text-uppercase background-btn add_to_bag_btn">Add To Bag</a>
                <a href="javascript:void(0);" class="text-uppercase border-btn popup_btn" data-modal="#modalone">Quick View</a>
              </div>
              <div class="product-label  text-uppercase  new-label ">new<span class="diamond_shape"></span></div>
              <a href="javascript:void(0);" class="heart  rounded-circle text-center "><i class="flaticon-heart vertical_middle"></i></a>
            </div>
            <div class="featured_detail_content">
              <a href="product_list_detail.html"><p class="featured_title  text-capitalize  text-center">Man T-Shirt</p></a>
              <p class="featured_price title_h5  text-center"><span>$19.95</span></p>
              <div class="featured_variyant  text-center">
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio11"  name="size"/>
                  <label for="radio11">m</label>
                </div>
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio12"  name="size"/>
                  <label for="radio12">l</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 wow fadeInRight animated" data-wow-duration="1300ms" data-wow-delay="0.2s">
          <div class="featured_content">
            <div class="featured_img_content">
              <img src="{% static 'images/f_product6.png' %}" alt="f_product" class="img-fluid"/>
              <div class="featured_btn vertical_middle">
                  <span class="text-uppercase background-btn sold_out_btn">Sold Out</span>
              </div>
              <a href="javascript:void(0);" class="heart  rounded-circle text-center "><i class="flaticon-heart vertical_middle"></i></a>
            </div>
            <div class="featured_detail_content">
              <a href="product_list_detail.html"><p class="featured_title  text-capitalize  text-center">Flower Floral Dupioni Dress</p></a>
              <p class="featured_price title_h5  text-center"><span>$79.95</span></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 wow fadeInRight animated" data-wow-duration="1300ms" data-wow-delay="0.4s">
          <div class="featured_content">
            <div class="featured_img_content">
              <img src="{% static 'images/f_product7.png' %}" alt="f_product" class="img-fluid"/>
              <div class="featured_btn vertical_middle">
                <a href="cart.html" class="text-uppercase background-btn add_to_bag_btn">Add To Bag</a>
                <a href="javascript:void(0);" class="text-uppercase border-btn popup_btn" data-modal="#modalone">Quick View</a>
              </div>
              <div class="product-label  text-uppercase  sale-label ">sale<span class="diamond_shape"></span></div>
              <a href="javascript:void(0);" class="heart  rounded-circle text-center "><i class="flaticon-heart vertical_middle"></i></a>
            </div>
            <div class="featured_detail_content">
              <a href="product_list_detail.html"><p class="featured_title  text-capitalize  text-center">Check Shirt</p></a>
              <p class="featured_price title_h5  text-center"><span class="compare_price">$39.95</span><span>$29.95</span></p>
              <div class="featured_variyant  text-center">
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio13"  name="size"/>
                  <label for="radio13">m</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 wow fadeInRight animated" data-wow-duration="1300ms" data-wow-delay="0.6s">
          <div class="featured_content">
            <div class="featured_img_content">
              <img src="{% static 'images/f_product8.png' %}" alt="f_product" class="img-fluid"/>
              <div class="featured_btn vertical_middle">
                <a href="cart.html" class="text-uppercase background-btn add_to_bag_btn">Add To Bag</a>
                <a href="javascript:void(0);" class="text-uppercase border-btn popup_btn" data-modal="#modalone">Quick View</a>
              </div>
              <a href="javascript:void(0);" class="heart  rounded-circle text-center "><i class="flaticon-heart vertical_middle"></i></a>
            </div>
            <div class="featured_detail_content">
              <a href="product_list_detail.html"><p class="featured_title  text-capitalize  text-center">Black Dotted Dress</p></a>
              <p class="featured_price title_h5  text-center"><span>$29.95</span></p>
              <div class="featured_variyant  text-center">
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio14"  name="size"/>
                  <label for="radio14">l</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% for product in products %}
          <div class="col-lg-3 col-md-4 col-6 wow fadeInLeft animated" data-wow-duration="1300ms" data-wow-delay="0.2s">
            <div class="featured_content">
              <div class="featured_img_content">
                <img src="{{ product.images.url }}" alt="f_product" class="img-fluid"/>
                <div class="featured_btn vertical_middle">
                  <a href="cart.html" class="text-uppercase background-btn add_to_bag_btn">Add To Bag</a>
                  <a href="javascript:void(0);" class="text-uppercase border-btn popup_btn" data-modal="#modalone">Quick View</a>
                </div>
                <a href="javascript:void(0);" class="heart  rounded-circle text-center "><i class="flaticon-heart vertical_middle"></i></a>
              </div>
              <div class="featured_detail_content">
                <a href="product_list_detail.html"><p class="featured_title  text-capitalize  text-center">{{ product.product_name }}</p></a>
                <p class="featured_price title_h5  text-center"><span>${{ product.price }}</span></p>
                <div class="featured_variyant  text-center">
                  <div class="radio text-uppercase  text-center">
                    <input type="radio" id="radio6"  name="size"/>
                    <label for="radio6">s</label>
                  </div>
                  <div class="radio text-uppercase  text-center">
                    <input type="radio" id="radio7"  name="size"/>
                    <label for="radio7">m</label>
                  </div>
                  <div class="radio text-uppercase  text-center">
                    <input type="radio" id="radio8"  name="size"/>
                    <label for="radio8">l</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- END Featured Products -->
  <!-- START Home Bolg Section -->
  <section class="blog_section padding-top-text-60 wow fadeIn">
    <div class="container">
      <h3 class="title_h3  text-capitalize home_title_h3 text-center">Latest Blog</h3>
      <div class="row">
        <div class="col-md-6 wow fadeInLeft" data-wow-duration="1300ms" >
          <div class="blog_content">
            <a href="blog_list_detail.html"><img src="{% static 'images/blog1.png' %}" alt="blog" class="img-fluid"></a>
            <span class="article__date">
              March 21, 2018 | Posted By Admin
              <span class="diamond_shape"></span>
            </span>
            <a href="blog_list_detail.html">
              <h5  class="article__title title_h5">Sed ut perspiciatis unde omnis iste</h5>
            </a>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in som...</p>
          </div>
        </div>
        <div class="col-md-6 wow fadeInRight" data-wow-duration="1300ms" >
          <div class="blog_content">
            <a href="blog_list_detail.html"> <img src="{% static 'images/blog2.png' %}" alt="blog" class="img-fluid"></a>
            <span class="article__date">
                March 21, 2018 | Posted By Admin
                <span class="diamond_shape"></span>
            </span>
            <a href="blog_list_detail.html">
                <h5 class="article__title title_h5">Voluptatem accusantium dolor emque totam</h5>
            </a>
            <p>Contrary to popular belief, Lorem Ipsum is not simply used random text. It has roots in a piece of classical Latin from...</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END Home Bolg Section -->
  <!-- START Brand Logos Section -->
  <section class="padding-top-60 brand_logo_section wow fadeIn">
    <div class="container">
      <h3 class="title_h3  text-capitalize home_title_h3 text-center wow fadeInDown">As Seen In</h3>
      <div class="row">
        <div class="col-3 align-self-center wow fadeInUp" data-wow-duration="1300ms">
          <div class="brand_logo_img text-center">
            <img src="{% static 'images/brand_logo1.png' %}" alt="brand_logo" class="img-fluid"/>
          </div>
        </div>
        <div class="col-3 align-self-center wow fadeInUp" data-wow-duration="1300ms">
          <div class="brand_logo_img text-center">
            <img src="{% static 'images/brand_logo2.png' %}" alt="brand_logo" class="img-fluid"/>
          </div>
        </div>
        <div class="col-3 align-self-center wow fadeInUp" data-wow-duration="1300ms">
          <div class="brand_logo_img text-center">
            <img src="{% static 'images/brand_logo3.png' %}" alt="brand_logo" class="img-fluid"/>
          </div>
        </div>
        <div class="col-3 align-self-center wow fadeInUp" data-wow-duration="1300ms">
          <div class="brand_logo_img text-center">
            <img src="{% static 'images/brand_logo4.png' %}" alt="brand_logo" class="img-fluid"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END Brand Logos Section -->
  <!-- START Instagram Section -->
  <section class="padding-top-60 instagram_section  wow animated">
    <div class="container">
      <div class="row">
        <div class="col-md-4 wow fadeInLeft" data-wow-duration="1300ms">
          <div class="instagram_title">
            <i class="flaticon-instagram-logo"></i>
            <h3 class="title_h3  text-capitalize">Follow Us <br>On Instagram </h3>
            <p>#Lorem Ipsum is simply dummy text of the typesetting industry</p>
          </div>
        </div>
        <div class="col-md-8 wow fadeInRight" data-wow-duration="1300ms" data-wow-delay="0.2s">
          <div class="owl-carousel owl-theme instagram_slider" id="instafeed"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- END Instagram  Section -->
  <!-- START Newsletter Section -->
  <section class="newsletter padding-top-text-60 padding-bottom-60 wow fadeIn">
      <div class="container">
        <h3 class="title_h3  text-capitalize home_title_h3 text-center wow fadeInUp">Sign Up Our Newsletter</h3>
        <form class="form-inline justify-content-center">
          <input type="email" class="form-control wow fadeInLeft"  placeholder="Enter your email" name="email">
          <button type="submit" class="btn border-btn text-uppercase wow fadeInRight">SIGN UP <i class="flaticon-arrows"></i></button>
        </form>
      </div>
  </section>
  <!-- END Newsletter Section -->
</div>
<!-- START Quick View Popup Section  -->
<div id="modalone" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <a href="javascript:void(0);" class="close_popup"><span>&times;</span></a>
    <div class="product_detail_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div id="q_sync1" class="owl-carousel owl-theme">
              <div class="item">
                <div class="product_img">
                  <img src="{% static 'images/blue_jacket_img.png' %}" alt="blue_jacket_img" class="vertical_middle img-fluid" />
                </div>
              </div>
              <div class="item">
                <div class="product_img">
                  <img src="{% static 'images/blue_jacket_img2.png' %}" alt="blue_jacket_img" class="vertical_middle img-fluid"/>
                </div>
              </div>
              <div class="item">
                <div class="product_img">
                  <img src="{% static 'images/blue_jacket_img3.png' %}" alt="blue_jacket_img" class="vertical_middle img-fluid"/>
                </div>
              </div>
              <div class="item">
                <div class="product_img">
                  <img src="{% static 'images/blue_jacket_img4.png' %}" alt="blue_jacket_img" class="vertical_middle img-fluid"/>
                </div>
              </div>
            </div>
            <div id="q_sync2" class="owl-carousel owl-theme">
              <div class="item">
                <div class="product_img">
                  <img src="{% static 'images/blue_jacket_img.png' %}" alt="blue_jacket_img" class="vertical_middle img-fluid"/>
                </div>
              </div>
              <div class="item">
                <div class="product_img">
                  <img src="{% static 'images/blue_jacket_img2.png' %}" alt="blue_jacket_img" class="vertical_middle img-fluid"/>
                </div>
              </div>
              <div class="item">
                <div class="product_img">
                  <img src="{% static 'images/blue_jacket_img3.png' %}" alt="blue_jacket_img" class="vertical_middle img-fluid"/>
                </div>
              </div>
              <div class="item">
                <div class="product_img">
                  <img src="{% static 'images/blue_jacket_img4.png' %}" alt="blue_jacket_img" class="vertical_middle img-fluid"/>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
              <div class="product_content">
                  <div class="product_title">
                    <span class="product_price title_h4"> $59.95</span>
                    <span class="stock text-right">In Stock</span>
                    <p class="sku_text">SKU: 01-2345678</p>
                    <div class="star"><img src="{% static 'images/star.png' %}"  class="img-fluid" alt="star" />(1 Review)</div>
                  </div>

                  <form>
                    <div class="product_variant">
                      <div class="form-group color_box">
                        <label class="title_h5 text-capitalize">Color</label>
                        <div class="radio text-uppercase text-center">
                          <input type="radio" name="color" id="color1" >
                          <label for="color1" class="color1"></label>
                        </div>
                        <div class="radio text-uppercase text-center">
                          <input type="radio" name="color" id="color2" >
                          <label for="color2" class="color2"></label>
                        </div>
                        <div class="radio text-uppercase text-center">
                          <input type="radio" name="color" id="color3" >
                          <label for="color3" class="color3"></label>
                        </div>
                        <div class="radio text-uppercase text-center">
                          <input type="radio" name="color" id="color4" >
                          <label for="color4" class="color4"></label>
                        </div>
                      </div>
                      <div class="form-group size_box">
                          <label class="title_h5 text-capitalize">Size</label>
                          <select class="form-control">
                            <option>XS</option>
                            <option>S</option>
                            <option>M</option>
                            <option>L</option>
                            <option>XL</option>
                          </select>
                      </div>
                      <div class="form-group quantity_box">
                        <label class="title_h5 text-capitalize">Quantity</label>
                        <div class="qty_number" onkeypress="return event.charCode >= 48 && event.charCode <= 57"><input type="text" value="1" ></div>
                      </div>
                    </div>
                    <div class="product_btns">
                      <a href="wishlist.html" class="wishlist_btn border-btn text-uppercase">add to wishlist </a>
                      <a href="cart.html" class="background-btn text-uppercase cart_btn">Add To Bag</a>
                      <!-- <button type="submit" class="background-btn text-uppercase cart_btn">add to bag</button> -->
                      <div class="product_share">
                          <p>Share the love</p>
                          <ul class="social_icons">
                            <li class="text-center"><a href="javascript:void(0);"><i class="flaticon-facebook vertical_middle"></i></a></li>
                            <li class="text-center"><a href="javascript:void(0);"><i class="flaticon-pinterest vertical_middle"></i></a></li>
                            <li class="text-center"><a href="javascript:void(0);"><i class="flaticon-instagram-logo vertical_middle"></i></a></li>
                          </ul>
                      </div>
                    </div>
                    <div class="info_text">
                        <a href="product_list_detail.html">View full info</a>
                    </div>
                  </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Quick View Popup Section  -->
{% endblock%}
        
